*{
    box-sizing: border-box;
}


.Others{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Others ul{
    list-style: none;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    line-height: 50px;
    max-width: 900px;
}

@media (max-width:480px){
    .Others{
        display: flex;
        margin: 0 0;
        padding : 0 5px;
    }
    .Others ul{
        font-size: 16px;
        max-width: 350px;
        line-height: 30px;
        padding-left: 0;
    }
}